{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>
            Home
        </title>
        <link rel="stylesheet" href="{% static 'css/home.css' %}">
        <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Padauk&display=swap" rel="stylesheet">
      
        <!-- <link rel="stylesheet" href="{% static 'static/contact/style/Home.css' %}"> -->
    </head>

    <body>

        <section class="header">
            <h1>Welcome to PhoneBooks</h1><br><br>
         

            
            <form action="{% url 'call' %}">
               <h3>Who do you want to Call?</h3><br>
                <input type="text" name="number" id="number" placeholder="Name here!....."><br>
                
                
            </form>
            
            <div class="container">
                
                <nav>
                    
                    <a class="contacts" href="{% url 'save' %}"><button class="btn"><i class="fa fa-address-book fa-2x" aria-hidden="true"></i><br> Add to contacts</button></a><br><br>
                    <a class="contacts" href="{% url 'all' %}"><button class="btn"><i id="icon" class="fa fa-phone fa-2x" aria-hidden="true"></i><br> Contact List</button></a><br><br>
                    <br><br>
                </nav>
                
            </div>
        </section>
        
    </body>
        
</html>