{% load static %}
<!DOCTYPE html>


<html>

<head>
    <title>
        All Contact
    </title>
    <link rel="stylesheet" href="{% static 'css/table.css' %}">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Padauk&display=swap" rel="stylesheet">

</head>

<body>

    <div class="container">
    <h1>All Contacts</h1>

    <div class="table">

        
        <table style="width: 100%;">
            
            <tr>
                <th>Name</th>
                <th>Nick Name</th>
                <th>Phone Number</th>
                <th>Gender</th>
                <th>Date of Birth</th>
                <th>Designation</th>
                <th>Relation</th>
            </tr>
            
            {% for i in lis %}
            
            <tr>
                
                <td>{{i.name}}</td>
                <td>{{i.nick_name}}</td>
                <td>{{i.phone_number}}</td>
                <td>{{i.gender}}</td>
                <td>{{i.dob}}</td>
                <td>{{i.designation}}</td>
                <td>{{i.relation}}</td>
                
                
            </tr>
            
            {% endfor %}
            
        </div>
        <div class="home">
            
        <a href="{% url 'home' %}" class="home-key"><i class="fa fa-reply " style="color: black;" aria-hidden="true"></i>Home</a>
    </div>

    </div>     

</body>


</html>